* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;


}


.nav {
    
    background-color:rgb(57, 147, 150);
    text-align: center;
    box-shadow: 3px 0px 5px grey;
    margin-top: 15px;
    border-radius: 2px;
    
}

.class {
    padding: 20px 40px;
    font-size: 14px;
    color: white;

}

.class a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 0.5ex;
    
}

.class a:hover {
    transition: 0.25s ease;
    box-shadow: inset 0px 0px 7px -5px black;
    border-radius: 5px;
    background: rgb(28, 89, 92);
}